<!doctype html>
<html lang="en" ng-app="helpIndex">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Helpdesk</title>
  <link rel="stylesheet" href="scripts/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="style.css">
  <script src="/scripts/angular/angular.js"></script>
  <script src="/scripts/angular/ui-bootstrap-tpls-0.12.0.min.js"></script>
  <script src="/scripts/angular/angular-route.js"></script>
  <script src="/scripts/main.js"></script>
  <style>
  	body {
  		padding-top: 70px;
  	}
  	.navbar-fixed-top {
  		padding-right: 70px;
  	}
  </style>
</head>
<body ng-controller="bCtrl">
	<nav class="navbar nav navbar-inverse navbar-fixed-top" role="navigation">
		<button type="button" class="navbar-toggle collapsed" ng-click="isCollapsed = !isCollapsed">
        	<span class="sr-only">Toggle navigation</span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
      	</button>
		<span class="navbar-brand">Helpdesk</span>
		
      	<div class="collapse navbar-collapse" collapse="isCollapsed">
      		<ul class="nav navbar-nav">
      			<li ng-class="{active:isActive('/')}"><a href="#">Home</a></li>
      			<li ng-class="{active:isActive('/tickets')}" dropdown is-open="options.ticketMenuOpen">
      				<a href="#" class="dropdown-toggle" data-toggle="dropdown" dropdown-toggle role="button" aria-expanded="false">Tickets <span class="caret"></span></a>
      				<ul class="dropdown-menu" role="menu">
      					<li><a href="#/tickets/mine">Mine</a></li>
      					<li ng-show="user.department.length"><a href="#/tickets/department">Departments</a></li>
      					<li><a href="#/tickets/assigned">Assigned</a></li>
      				</ul>
      			</li>
      			<li>
      				<a ng-click="newTicket()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Ticket</a>
      			</li>
      			<li>
      				<a href="/o/logout">
      					<span class="glyphicon glyphicon-off" aria-hidden="true"></span> Sign out
  					</a>
  				</li>
      		</ul>
      	</div>
		
	</nav>
	<div class="container">
		<div ng-view></div>
	</div>
	<script type="text/ng-template" id="ticketViewModal.html">
		<div>
			<div class="modal-header">
				<h3>Helpdesk Ticket</h3>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-3 col-xs-4">Subject</div>
					<div class="col-md-8 col-xs-8">
						<div class="well well-sm" ng-hide="options.canEdit">
							{{ticket.Subject}}
						</div>
						<input type="text" class="form-control" ng-model="ticket.Subject" ng-show="options.canEdit">
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-xs-4">Department</div>
					<div class="col-md-8 col-xs-8">
						<div class="well well-sm" ng-hide="options.canEdit">
							{{departmentName}}
						</div>
						<select class="form-control" ng-model="ticket.Department" ng-show="options.canEdit" ng-change="DepCatChange()">
							<option ng-repeat="d in departments" value="{{d.Id}}">
								{{d.Name}}
							</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-xs-4">Category</div>
					<div class="col-md-8 col-xs-8">
						<div class="well well-sm"  ng-hide="options.canEdit">
							{{categoryName}}
						</div>
						<select class="form-control" ng-show="options.canEdit">
							<option ng-repeat="cat in categories" value="{{cat.Id}}">
								{{cat.Name}}
							</option>
						</select>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-3 col-xs-4">Description</div>
					<div class="col-md-8 col-xs-8">
						<div class="well well-sm" ng-hide="options.canEdit">
							{{ticket.Description}}
						</div>
						<textarea class="form-control" ng-show="options.canEdit" ng-model="ticket.Description"></textarea>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-3 col-xs-4">Notes</div>
					<div class="col-md-8 col-xs-8">
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-3 col-xs-4">Documents</div>
					<div class="col-md-8 col-xs-8">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" ng-hide="options.newTicket" ng-click="update()">Update</button>
				<button class="btn btn-primary" ng-show="options.newTicket" ng-click="submit()">Submit</button>
				<button class="btn btn-success" ng-show="options.canClose" ng-click="close()">Close</button>
				<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
			</div>
		</div>
	</script>

</body>

</html>