<!doctype html>
<html lang="en" ng-app="helpIndex">
<head>
  <meta charset="utf-8">
  <title>Helpdesk</title>
  <link rel="stylesheet" href="scripts/bootstrap/dist/css/bootstrap.css">
  <script src="/scripts/angular/angular.js"></script>
  <script src="/scripts/angular/ui-bootstrap-tpls-0.12.0.min.js"></script>
  <script src="/scripts/main.js"></script>
  <style>
  	body {
  		padding-top: 70px;
  	}
  	.navbar-fixed-top {
  		padding-right: 70px;
  	}
  </style>
</head>
<body ng-controller="bCtrl">
	<div class="navbar nav navbar-inverse navbar-fixed-top" role="navigation">
		<div class="navbar-brand">Helpdesk</div>
		<div class="navbar-right">
			<a type="button" class="btn btn-primary navbar-btn" href="#" ng-click="newTicket()">Submit a ticket</a>
			<a type="button" class="btn btn-primary navbar-btn" href="#">Tickets</a>
			<a type="button" class="btn btn-danger navbar-btn" href="/o/logout"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Sign out</a>
		</div>
	</div>
	<div class="container">
		<div class="page-header"><h1>Helpdesk</h1></div>
		<table class="table table-hover">
			<thead>
				<th>Subject</th>
				<th>Created On</th>
				<th>Department</th>
			</thead>
			<tbody>
				<tr ng-repeat="ticket in submitted">
					<td>{{ticket.Subject}}</td>
					<td>{{ticket.Created | date : 'short'}}</td>
					<td>{{ticket.Department | depFilter : departments}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<script type="text/ng-template" id="ticketModal.html">
		<div>
			<div class="modal-header"><h3>Submit a Ticket</h3></div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-3 col-xs-4">Subject</div>
					<div class="col-md-8 col-xs-8"><input type="text" class="form-control" ng-model="tkt.subject"></div>
				</div>
				<div class="row">
					<div class="col-md-3 col-xs-4">Department</div>
					<div class="col-md-8 col-xs-8">
						<select class="form-control" ng-model="tkt.department">
							<option ng-repeat="d in deps" value="{{d.Id}}">
								{{d.Name}}
							</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-xs-4">Category</div>
					<div class="col-md-8 col-xs-8">
						<select class="form-control" ng-model="tkt.category">
							<option ng-repeat="c in deps | depCat:tkt.department" value="{{c.Id}}">
								{{c.Name}}
							</option>
						</select>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-3 col-xs-4">Uploads</div>
					<div class="col-md-8 col-xs-8"><input type="file" class="form-control" ng-model="tkt.upload"></div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-3 col-xs-4">Description</div>
					<div class="col-md-8 col-xs-8"><textarea class="form-control" ng-model="tkt.description"></textarea></div>
				</div>
			</div>
			<div class="modal-footer">
				<alert type="{{alert.type}}">{{alert.msg}}</alert>
				<button class="btn btn-primary" ng-click="submit()">Submit</button>
				<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
			</div>
		</div>
	</script>
</body>

</html>