<!doctype html>
<html lang="en" ng-app="helpIndex">
<head>
  <meta charset="utf-8">
  <title>Helpdesk</title>
  <link rel="stylesheet" href="scripts/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="style.css">
  <script src="/scripts/angular/angular.js"></script>
  <script src="/scripts/angular/ui-bootstrap-tpls-0.12.0.min.js"></script>
  <script src="/scripts/main.js"></script>
  <style>
  	body {
  		padding-top: 70px;
  	}
  	.navbar-fixed-top {
  		padding-right: 70px;
  	}
  </style>
</head>
<body ng-controller="bCtrl">
	<div class="navbar nav navbar-inverse navbar-fixed-top" role="navigation">
		<div class="navbar-brand">Helpdesk</div>
		<div class="navbar-right">
			<a type="button" class="btn btn-primary navbar-btn" href="#" ng-click="newTicket()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New ticket</a>
			<a type="button" class="btn btn-danger navbar-btn" href="/o/logout"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Sign out</a>
		</div>
	</div>
	<div class="container">
		<tabset>
			<tab>
				<tab-heading>
					Submissions
				</tab-heading>
				<nav class="navbar navbar-default">
					<p class="navbar-text">View:</p>
					<div class="navbar-btn">
						<div class="btn-group">
					        <label class="btn btn-success" ng-model="ticketSubmitterStatus" btn-radio="'open'" ng-click="viewSubmitterOpen()" uncheckable>Open</label>
					        <label class="btn btn-success" ng-model="ticketSubmitterStatus" btn-radio="'closed'" ng-click="viewSubmitterClosed()" uncheckable>Closed</label>
					    </div>
					</div>
				</nav>
				<table class="table table-hover" ng-show="submittedHasTickets">
					<thead>
						<td>&nbsp;</td>
						<th>Subject</th>
						<th>Created On</th>
						<th>Department</th>
						<th>Category</th>
						<th>Status</th>
					</thead>
					<tbody>
						<tr ng-repeat="ticket in submitted">
							<td><input type="checkbox"></td>
							<td>{{ticket.Subject}}</td>
							<td>{{ticket.Created | date : 'short'}}</td>
							<td>{{ticket.Department | depFilter : departments}}</td>
							<td>{{ticket.Category}}</td>
							<td>
								<span class="label label-success" ng-show="{{ticket.Status != 'closed'}}">Open</span>
								<span class="label label-default" ng-show="{{ticket.Status == 'closed'}}">Closed</span>
							</td>
							<td><button ng-click="openTicket(ticket.Id)">Open</button></td>
						</tr>
					</tbody>
				</table>
				<h3 ng-hide="submittedHasTickets"><center>No tickets</center></h3>
			</tab>
			<tab ng-if="me.Department.length > 0">
				<tab-heading>
					Departments
				</tab-heading>
				<nav class="navbar navbar-default">
					<p class="navbar-text">View:</p>
					<div class="navbar-btn">
						<div class="btn-group">
					        <label class="btn btn-success" ng-model="ticketDepartmentStatus" btn-radio="'open'" ng-click="viewDepartmentOpen()" uncheckable>Open</label>
					        <label class="btn btn-success" ng-model="ticketDepartmentStatus" btn-radio="'closed'" ng-click="viewDepartmentClosed()" uncheckable>Closed</label>
					    </div>
					</div>
					<form class="navbar-form">
						<select class="form-control" ng-model="selDepartment" ng-change="getDepTickets()">
							<option ng-repeat="department in me.Department" value="{{department}}">	
								{{department | depName:this}}
							</option>
						</select>
					</form>
				</nav>
				<table class="table table-hover">
					<thead>
						<td>&nbsp;</td>
						<th>Subject</th>
						<th>Created On</th>
						<th>Department</th>
						<th>Category</th>
						<th>Status</th>
					</thead>
					<tbody>
						<tr ng-repeat="ticket in department">
							<td><input type="checkbox"></td>
							<td>{{ticket.Subject}}</td>
							<td>{{ticket.Created | date : 'short'}}</td>
							<td>{{ticket.Department | depFilter : departments}}</td>
							<td>{{ticket.Category}}</td>
							<td>
								<span class="label label-success" ng-show="{{ticket.Status != 'closed'}}">Open</span>
								<span class="label label-default" ng-show="{{ticket.Status == 'closed'}}">Closed</span>
							</td>
						</tr>
					</tbody>
				</table>
			</tab>
			<tab heading="Assigned Tickets"></tab>
		</tabset>
		
	</div>
	<script type="text/ng-template" id="ticketViewModal.html">
		<div>
			<div class="modal-header">
				<h3>Helpdesk Ticket</h3>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-3 col-xs-4">Subject</div>
					<div class="col-md-8 col-xs-8"><input type="text" class="form-control" ng-model="tkt.subject">
					</div>
				</div>
			</div>
			<div class="modal-footer"></div>
		</div>
	</script>
	<script type="text/ng-template" id="ticketSubmitModal.html">
		<div>
			<div class="modal-header"><h3>Submit a Ticket</h3></div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-3 col-xs-4">Subject</div>
					<div class="col-md-8 col-xs-8"><input type="text" class="form-control" ng-model="tkt.subject"></div>
				</div>
				<div class="row">
					<div class="col-md-3 col-xs-4">Department</div>
					<div class="col-md-8 col-xs-8">
						<select class="form-control" ng-model="tkt.department">
							<option ng-repeat="d in deps" value="{{d.Id}}">
								{{d.Name}}
							</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-xs-4">Category</div>
					<div class="col-md-8 col-xs-8">
						<select class="form-control" ng-model="tkt.category">
							<option ng-repeat="c in deps | depCat:tkt.department" value="{{c.Id}}">
								{{c.Name}}
							</option>
						</select>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-3 col-xs-4">Uploads</div>
					<div class="col-md-8 col-xs-8"><input type="file" class="form-control" ng-model="tkt.upload"></div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-3 col-xs-4">Description</div>
					<div class="col-md-8 col-xs-8"><textarea class="form-control" ng-model="tkt.description"></textarea></div>
				</div>
			</div>
			<div class="modal-footer">
				<alert type="{{alert.type}}">{{alert.msg}}</alert>
				<button class="btn btn-primary" ng-click="submit()">Submit</button>
				<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
			</div>
		</div>
	</script>
</body>

</html>