<nav class="nav navbar-default" role="navigation">
	<form class="navbar-form" >
		<!--
		<p class="navbar-text">View:</p>
		<div class="navbar-btn btn-group">
	        <label class="btn btn-success" ng-model="options.ticket.status" btn-radio="'open'" ng-click="viewOpenTickets()" uncheckable>Open</label>
	        <label class="btn btn-success" ng-model="options.ticket.status" btn-radio="'closed'" ng-click="viewClosedTickets()" uncheckable>Closed</label>
	    </div>
		-->
	    <div ng-show="options.ticket.selectDepartment" class="btn-group navbar-right" dropdown>
	    	<button type="button" class="btn btn-danger">{{activeDepartment | depName : this}}</button>
	    	<button type="button" class="btn btn-danger dropdown-toggle" dropdown-toggle>
		        <span class="caret"></span>
	        	<span class="sr-only">Split button!</span>
	      	</button>
	      	<ul class="dropdown-menu" role="menu">
		        <li ng-repeat="dep in availDepartments">
		        	<a ng-click="setDepartment(dep)">{{dep | depName : this}}</a>
		        </li>
	      	</ul>
	    </div>
    </form>
    
</nav>
<table class="table table-hover">
	<thead>
		<td ng-show="options.tickets.selectable">&nbsp;</td>
		<th>Subject</th>
		<th>Created On</th>
		<th ng-show="options.tickets.showDepartment">
			Department
		</th>
		<th ng-show="options.tickets.showCategory">
			Category
		</th>
		<th>Status</th>
	</thead>
	<tbody>
		<tr ng-repeat="ticket in tickets">
			<td ng-show="options.ticket.selectable"><input type="checkbox"></td>
			<td>{{ticket.Subject}}</td>
			<td>{{ticket.Created | date : 'short'}}</td>
			<td ng-show="options.ticket.showDepartment">
				{{ticket.Department | depName : this}}
			</td>
			<td ng-show="options.ticket.showCategory">
				{{ticket.Category | catName : this}}
			</td>
			<td>
				<span class="label label-success" ng-show="{{ticket.Status != 'closed'}}">Open</span>
				<span class="label label-default" ng-show="{{ticket.Status == 'closed'}}">Closed</span>
			</td>
			<td><button ng-click="openTicket(ticket)">Open</button></td>
		</tr>
	</tbody>
</table>