<div class="container">
	<div class="panel panel-info">
		<div class="panel-heading">New Department</div>
		<div class="panel-body">
			<form role="form">
				<div class="col-md-11 col-xs-9">
					<input type="text" class="form-control" id="departmentName" ng-model="newDep.Name" placeholder="Department Name">
				</div>
				<div class="col-md-1 col-xs-2">
					<button ng-click="addDepartment()" role="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></button>
				</div>
			</form>
		</div>
	</div>
	<div ng-repeat="dep in departments">
		<div class="panel panel-default">
			<div class="panel-heading">{{dep.Name}}</div>
			<div class="panel-body">
				<ul>
					<li ng-repeat="cat in dep.Category">{[cat.Name}}</li>
				</ul>
			</div>
		</div>
	</div>
</div>