<div class="panel panel-primary">
	<div class="panel-heading">Departments</div>
	<table class="table">
		<tfoot>
			<form role="form">
				<td>
					<input type="text" class="form-control" id="departmentName" ng-model="newDep.Name" placeholder="New Department Name">
				</td>
				<td align="right">
					<button ng-click="addDepartment()" role="button" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></button>
				</td>
			</form>
		</tfoot>
		<tr ng-repeat="dep in departments">
			<td>{{dep.Name}}</td>
			<td align="right">
				<a href="#/department/reports/{{dep.Id}}" role="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-info-sign"><a>
				<a href="#/department/tickets/{{dep.Id}}" role="button" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-list"></a>
				<a href="#/department/config/{{dep.Id}}" role="button" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-wrench"></a>
			</td>
		</tr>
	</table>	
</div>
