<div class="panel panel-default">
	<div class="panel-heading"><h4>{{dep.Name}}</h4></div>
	<form role="form">
		<div class="panel-body">
			<div class="form-group">
				<label for="depName">Department Name</label>
				<input type="text" class="form-control" id="depName" placeholder="Department Name" ng-model="dep.Name">
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" id="depSpecBuilding" ng-model="dep.IsBuildingSpecific" value="true">
					 Is Building Specific?
				</label>
			</div>
			<div class="form-group" ng-show="dep.IsBuildingSpecific">
				<label for="depBuilding">Building</label>
				<select id="depBuilding" class="form-control" ng-model="dep.Building">
					<option value="">Unspecified</option>
					<option ng-repeat="building in buildings" value="{{building.Id}}">{{building.Name}}</option>
				</select>
			</div>
		</div>
		<div class="panel-footer">
			<button role="button" class="btn btn-success" ng-click="save()">Save</button> <a role="button" class="btn btn-warning" href="#/departments">Cancel</a>
		</div>
	</form>
</div>