<form role="form">
	<div class="form-group">
		<label class="sr-only" for="firstname">First Name</label>
		<input type="text" class="form-control" id="firstname" placeholder="First Name" ng-model="user.Firstname">
	</div>
	<div class="form-group">
		<label class="sr-only" for="lastname">Last Name</label>
		<input type="text" class="form-control" id="lastname" placeholder="Last Name" ng-model="user.Lastname">
	</div>
	<div class="form-group">
		<label class="sr-only" for="building">Building</label>
		<select id="building" ng-model="user.Building">
		</select>
	</div>
	<div class="form-group">
		<label class="sr-only" for="room">Room</label>
		<input type="text" class="form-control" id="room" ng-model="user.Room">
	</div>
	<div class="form-group">
		<label class="sr-only" for="room">Phone</label>
		<input type="text" class="form-control" id="room" ng-model="user.Phone">
	</div>
	<div class="form-group">
		<label class="sr-only" for="room">Extension</label>
		<input type="text" class="form-control" id="room" ng-model="user.Extension">
	</div>
</form>