<form role="form">
	<div class="modal-header">
		<h3>User Profile</h3>
	</div>
	<div class="modal-body">
		<div class="form-group" ng-class="{'has-error': !user.Firstname}">
			<label for="firstname">First Name</label>
			<input type="text" class="form-control" id="firstname" placeholder="First Name" ng-model="user.Firstname">
		</div>
		<div class="form-group" ng-class="{'has-error': !user.Lastname}">
			<label for="lastname">Last Name</label>
			<input type="text" class="form-control" id="lastname" placeholder="Last Name" ng-model="user.Lastname">
		</div>
		<div class="form-group" ng-class="{'has-error': !user.Building}">
			<label for="building">Building</label>
			<select class="form-control" id="building" ng-model="user.Building">
				<option ng-repeat="building in buildings" value="{{building.Id}}">{{building.Name}}</option>
			</select>
		</div>
		<div class="form-group">
			<label for="room">Room</label>
			<input type="text" class="form-control" id="room" placeholder="Room" ng-model="user.Room">
		</div>
		<div class="form-group">
			<label for="room">Phone</label>
			<input type="text" class="form-control" id="room" placeholder="Phone Number" ng-model="user.Phone">
		</div>
		<div class="form-group">
			<label for="room">Extension</label>
			<input type="text" class="form-control" id="room" placeholder="Extension" ng-model="user.Extension">
		</div>
	</div>
	<div class="modal-footer">
		<button role="button" class="btn btn-success" ng-click="saveProfile()">Save</button>
		<button role="button" class="btn btn-warning" ng-click="cancel()">Cance</button>
	</div>
</form>