<div class="container">
	<div class="row">
		<!-- START OF TOP ROW -->
		<div class="col-md-6">
			<!-- SUBJECT / CREATED ON / STATUS -->
			<div class="panel panel-default">
				<div class="panel-heading">Subject</div>
				<div class="panel-body">
					{{ticket.Subject}}
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">Created / Closed On</div>
				<div class="panel-body">
					{{ticket.Created}}
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">Status</div>
				<div class="panel-body">
					{{ticket.Status}}
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<!-- DEPARTMENT / CATEGORY / ASSIGNED TO -->
			<div class="panel panel-default">
				<div class="panel-heading">Department</div>
				<div class="panel-body">
					{{ticket.Department | depName : this}}
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">Category</div>
				<div class="panel-body">
					{{ticket.Category | catName : this}}
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">Assigned To</div>
				<div class="panel-body">
					{{ticket.AssignedTo}}
				</div>
			</div>
		</div>
		<!-- END OF TOP ROW -->
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">Description</div>
		<div class="panel-body">{{ticket.Description}}</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">Attachments</div>
		<div class="panel-body"></div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">Notes</div>
		<div class="panel-body"></div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">Solution</div>
		<div class="panel-body">{{ticket.Solution}}</div>
	</div>
</div>