<div class="container">
	<div class="row">
		<!-- START OF TOP ROW -->
		<div class="col-md-6">
			<!-- SUBJECT / CREATED ON / STATUS -->
			<div class="panel">
				<div class="panel-header">Subject</div>
				<div class="panel-body"></div>
			</div>
			<div class="panel">
				<div class="panel-header">Created / Closed On</div>
				<div class="panel-body"></div>
			</div>
			<div class="panel">
				<div class="panel-header">Status</div>
				<div class="panel-body"></div>
			</div>
		</div>
		<div class="col-md-6">
			<!-- DEPARTMENT / CATEGORY / ASSIGNED TO -->
			<div class="panel">
				<div class="panel-header">Department</div>
				<div class="panel-body"></div>
			</div>
			<div class="panel">
				<div class="panel-header">Category</div>
				<div class="panel-body"></div>
			</div>
			<div class="panel">
				<div class="panel-header">Assigned To</div>
				<div class="panel-body"></div>
			</div>
		</div>
		<!-- END OF TOP ROW -->
	</div>
	<div class="panel">
		<div class="panel-header">Description</div>
		<div class="panel-body"></div>
	</div>
	<div class="panel">
		<div class="panel-header">Attachments</div>
		<div class="panel-body"></div>
	</div>
	<div class="panel">
		<div class="panel-header">Notes</div>
		<div class="panel-body"></div>
	</div>
	<div class="panel">
		<div class="panel-header">Solution</div>
		<div class="panel-body"></div>
	</div>
</div>